.color-1 {
    color: goldenrod;
}

/*RGB RedGreenBlue*/
/* 00 - ff */
.color-2 {
    color: #000000;
}

.color-3 {
    color: #ddd;
}

/*0-255*/
.color-4 {
    color: rgb(0, 150, 0);
    opacity: 0.2; /* прозрачность */
}
 
/*Так же можно RGBA + прозрачность от 0 до 1*/
.color-5 {
    color: rgba(150, 0, 0, 1);
}